

<div class="indv-post">
  <button id="move-up" type="button">Move Up</button>
  <button id="move-down" type="button">Move Down</button>
    <ul>
      <li>item.data.title</li>
      <li>item.data.url</li>
      <li>item.data.permalink</li>
    </ul>
  <div class="vote-up-div">
    <button id="voteup" type="button">Vote up!</button>
    <div class="counter" id="voteup"></div>
  </div>
  <div class="vote-down-div">
    <button id="votedown" type="button">Vote down!</button>
    <div class="counter" id="countdown"></div>
  </div>
</div>